//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 11 19:06:54 2014
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "clr" LOCATE = SITE "C9" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "kbClk" LOCATE = SITE "L12" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "anode<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "anode<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "anode<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "anode<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "kbData" LOCATE = SITE "J13" LEVEL 1;
COMP "dec" LOCATE = SITE "M13" LEVEL 1;
SCHEMATIC END;

